body {
    background-color: rgb(236, 236, 236);
}

.username {
    position: absolute;
    font-size: 42px;
    margin-left: 2%;
}

.username a {
    text-decoration: none;
    color: cornflowerblue;
}


/* SOCIAL NETWORKS */

.socialNetworks {
    margin-left: 45%;
    font-size: 42px;
}

.github,
.github:hover {
    color: #333;
    text-decoration: none;
}

.twitter,
.twitter:hover {
    color: #1da1f2;
    text-decoration: none;
}

.linkedin,
.linkedin:hover {
    color: #0077b5;
    text-decoration: none;
}


/* Post */

@import url('https://fonts.googleapis.com/css?family=Karma:400,500');
article {
    margin: 2%;
    font-size: 20px;
    font-family: 'Karma', serif;
}

article .title {
    color: rgb(54, 54, 54);
}